* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
::-webkit-scrollbar{
    display: none;
}
body {
    background: rgb(198, 69, 138);
    background: linear-gradient(90deg, rgba(237,24,136,1) 0%, rgb(196, 220, 37) 50%, rgba(0,255,235,1) 100%);
    height: 80vh;
   
}
.container {
   background: #9f9c9c;
   width:700px; 
   text-align: center; 
   padding:50px;
   margin:50px;
   position: absolute;
   top:8%;
   left:25%;
   border-radius: 5px;
}
.Num-display {
    border:1px solid black;
    padding: 14px 12px 14px 12px;
    background: white;
}
.row {
    display: grid;
    grid-template-columns:auto auto auto ;
    gap:10px 2px;
    padding:15px;
    align-content: space-between;
    
}
 .num-block {
    border:1px solid black;
    background: #bdeb3da0;
    padding: 20px;;
}